* {
    padding:0;
    margin:0;
}

.index {
    background-color: #5f473a;
    height:45px;
    width:100%;
    position: fixed;
    z-index: 1000;
}
.index a.logo {
    color:white;
    font-size: 20px;
    font-weight: bolder;
    position:absolute;
    left: 80px;
    top:0;
    line-height: 45px;
    text-decoration: none;
}
.index a.logo:hover {
    color:#f4e8d5;
    position:absolute;
    left: 80px;
    top:0;
    line-height: 45px;
    text-decoration: none;
}
.index ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:45px;
}
.index li {
    display:inline;
    margin-right:4vw;    
}
.index ul a {
    color:white;
    text-decoration: none;
}
.index ul a:hover {
    text-decoration: underline;
}

.title{
    height: 30vh;
    background-image: url("image/instruments.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.title h1{
    color:white;
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    position:absolute;
    right: 60px;
    top: 75px;
    line-height: 80px;
    font-size: 60px;
}
main {
    background-color: #f4e8d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #5f473a;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(33, 44, 55, .3);
}
.login h1{
    color: #eee;
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 230px;
    z-index: 1;
}
input {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 18px;
    font-weight: bold;
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    outline: none;
}
input::placeholder{
    font-size: 18px;    
    color:#eee;
}
button {
    width: 180px;
    height: 40px;
    border: 1px solid #eee;
    background-color: transparent;
    border-radius: 20px;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    cursor: pointer;
}
span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #c3b193;
    /* 滑鼠置中 */
    transform: translate(-50%, -50%);
    /* 圓展开 */
    border-radius: 50%;
}
@keyframes in {
    0% {
        width: 0;
        height: 0;
    }
 
    100% {
        width: 1200px;
        height: 1200px;
    }
} 
/* 滑鼠離開動畫 */
@keyframes out {
    0% {
        width: 1200px;
        height: 1200px;
    }
 
    100% {
        width: 0;
        height: 0;
    }
}
footer {
    background-color:#000000;
    color:#B7B7B7;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}